
// COMBINACION COLORES TEMA OSCURO

$Dark-Background: #252627;
$Dark-Text: #fff;
$Dark-blueClare: #08fed8;
$Dark-Complement: #1e1e1e;

// COMBINACION COLORES TEMA CLARO

$Clare-Background: #d5dfdf;
$Clare-Text: #252627;
$Clare-blueClare: #00a3bf;
$Clare-Complement: #acb7b7;
