
// COMBINACION COLORES TEMA OSCURO

$Dark-Background: #252627;
$Dark-Text: #fff;
$Dark-blueClare: #08fed8;
$Dark-Complement: #1e1e1e;

// opcion 1 Tema claro

// $Dark-Background: #d5dfdf;
// $Dark-Text: #252627;
// $Dark-blueClare: #00a3bf;
// $Dark-Complement: #acb7b7;
